<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riley.kiranavendor">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.Config"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/home"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".vendor.CreateProduct"
            android:label="Create"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustPan"
            />


        <activity
            android:name=".activities.ProductDetail"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".vendor.EditProduct"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".auth.Auth" />

        <activity android:name=".ProfileActivity"
            android:label="@string/home"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>